.recipe ul {
    list-style-type: square;
    padding-left: 20px;
}

.recipe ol {
    list-style-type: decimal;
    padding-left: 20px;
}

.recipe h3 {
    color: #6f4f31;
    font-size: 20px;
    margin-top: 20px;
}
